@tailwind base;
@tailwind components;
@tailwind utilities;

.font-size-16px-20px {
   font-size: clamp(1rem, 0.9591rem + 0.1818vw, 1.25rem);
}

.width-1080px {
   width: 1080px;
}

.width-768px {
   width: 768px;
}

path {
   fill: none;
   stroke: black;
   pointer-events: all;
}

path:hover {
   fill: orange;
}